@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-sinBS {
  grid-area: header;
  background-color: rgb(53, 53, 53);
  box-shadow: 1px 1px 5px 0px #85888C;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
@media (min-width: 875px) {
  .header-sinBS {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
}
.header-sinBS > .logo {
  height: 100px;
  width: 170px;
  background-image: url("..//img/logo_blanco.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px 0 0 0;
}
@media (min-width: 875px) {
  .header-sinBS > .logo {
    height: 125px;
    width: 200px;
    margin: 0 0 0 20px;
  }
}
.header-sinBS > .barraMenu {
  display: flex;
  flex-direction: column;
  align-self: start;
}
.header-sinBS > .barraMenu .hamb {
  cursor: pointer;
  float: left;
  padding: 40px 20px;
}
@media (min-width: 875px) {
  .header-sinBS > .barraMenu .hamb {
    display: none;
  }
}
.header-sinBS > .barraMenu .hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
.header-sinBS > .barraMenu .hamb-line::before {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  top: 5px;
}
.header-sinBS > .barraMenu .hamb-line::after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  top: -5px;
}
.header-sinBS > .barraMenu .side-menu {
  display: none;
}
.header-sinBS > .barraMenu .side-menu:checked ~ nav {
  max-height: 100%;
}
.header-sinBS > .barraMenu .side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.header-sinBS > .barraMenu .side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.header-sinBS > .barraMenu .side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
.header-sinBS > .barraMenu .nav {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  font-size: 18px;
  position: fixed;
  background-color: rgb(53, 53, 53);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
@media (min-width: 875px) {
  .header-sinBS > .barraMenu .nav {
    margin-top: 65px;
    max-height: none;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
}
@media (min-width: 875px) {
  .header-sinBS > .barraMenu .nav > .menu {
    list-style: none;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
  }
}
@media (min-width: 875px) {
  .header-sinBS > .barraMenu .nav > .menu > li {
    text-align: center;
  }
  .header-sinBS > .barraMenu .nav > .menu > li:hover {
    background: rgba(213, 213, 213, 0.3);
  }
}
.header-sinBS > .barraMenu .nav > .menu > li > a {
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
}
.header-sinBS > .barraMenu .nav > .menu > li > a:hover {
  background-color: #85888C;
}
@media (min-width: 875px) {
  .header-sinBS > .barraMenu .nav > .menu > li > a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: transparent;
  }
}
.header-sinBS > .navIcons {
  display: flex;
  align-items: center;
  align-self: end;
  color: #FFF;
  margin-top: -58px;
}
@media (min-width: 875px) {
  .header-sinBS > .navIcons {
    align-self: center;
    margin: 10px 10px 0 0;
  }
}
.header-sinBS > .navIcons > .buscador {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  transition: all 1s;
  width: 30px;
  height: 30px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}
@media (min-width: 1015px) {
  .header-sinBS > .navIcons > .buscador {
    transform: none;
    transition: none;
    width: 150px;
  }
}
.header-sinBS > .navIcons > .buscador:hover, .header-sinBS > .navIcons > .buscador:valid {
  width: 150px;
  cursor: pointer;
}
.header-sinBS > .navIcons > .buscador > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  color: black;
}
@media (min-width: 1015px) {
  .header-sinBS > .navIcons > .buscador > input {
    display: block;
  }
}
.header-sinBS > .navIcons > .buscador > input:hover, .header-sinBS > .navIcons > .buscador > input:valid {
  display: block;
}
.header-sinBS > .navIcons > .buscador a {
  display: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
}
.header-sinBS > .navIcons > .buscador a:valid {
  display: block;
}
.header-sinBS > .navIcons > .buscador > .fa {
  box-sizing: border-box;
  padding: 4px;
  width: 22.5px;
  height: 22.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: rgb(53, 53, 53);
  text-align: center;
  font-size: 1.1em;
  transition: all 1s;
}
@media (min-width: 1015px) {
  .header-sinBS > .navIcons > .buscador > .fa {
    background: rgb(53, 53, 53);
    color: white;
    transition: none;
  }
}
.header-sinBS > .navIcons > .buscador > .fa:hover, .header-sinBS > .navIcons > .buscador > .fa:valid {
  background: rgb(53, 53, 53);
  color: white;
}
.header-sinBS > .navIcons > .glyphicon {
  font-size: 25px;
  padding: 0 15px;
}

.footer-sinBS {
  grid-area: footer;
  background-color: rgb(53, 53, 53);
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  padding: 10px;
}
@media (min-width: 768px) {
  .footer-sinBS {
    height: 60px;
    flex-flow: row wrap;
    padding: 5px 50px;
  }
}
.footer-sinBS > p {
  margin: 0;
  order: 2;
}
@media (min-width: 768px) {
  .footer-sinBS > p {
    order: 1;
  }
}
.footer-sinBS > .footer-icons {
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.3;
  padding: 4px;
  order: 1;
}
@media (min-width: 768px) {
  .footer-sinBS > .footer-icons {
    width: 150px;
    order: 2;
  }
}

.encabezado {
  background-image: url("..//img/portada.jpg");
  width: 93%;
  height: 300px;
  margin: auto;
  margin-top: 30px;
  background-size: cover;
  background-position: center 80%;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: end;
}
@media (min-width: 1600px) {
  .encabezado {
    width: 83%;
    height: 750px !important;
    background-position: 50%;
  }
}
@media (min-width: 768px) {
  .encabezado {
    height: 550px;
  }
}
@media (max-width: 570px) {
  .encabezado {
    height: 230px;
  }
}
.encabezado > .encabezado-info {
  color: #FFF;
  padding: 0 0 5px 20px;
  text-shadow: 1px 0px 10px rgb(0, 0, 0);
}
@media (max-width: 570px) {
  .encabezado > .encabezado-info > h1 {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
}
@media (max-width: 570px) {
  .encabezado > .encabezado-info > h1 > p {
    font-size: 9px;
    margin: 0 0 5px 0;
  }
}

.encabezadoRutinas {
  background-image: url("..//img/rutinas.jpg");
  width: 93%;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  background-size: cover;
  background-position: center 80%;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: end;
}
@media (min-width: 1600px) {
  .encabezadoRutinas {
    height: 750px !important;
    background-position: 580%;
  }
}
@media (min-width: 768px) {
  .encabezadoRutinas {
    height: 550px;
  }
}
.encabezadoRutinas > .encabezado-info {
  color: #FFF;
  padding: 0 0 5px 20px;
  text-shadow: 1px 0px 10px rgb(0, 0, 0);
}
@media (max-width: 570px) {
  .encabezadoRutinas > .encabezado-info > h1 {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
}
@media (max-width: 570px) {
  .encabezadoRutinas > .encabezado-info > h1 > p {
    font-size: 9px;
    margin: 0 0 5px 0;
  }
}

.miniDescripciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
  gap: 20px;
}
@media (min-width: 768px) {
  .miniDescripciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    gap: 20px;
  }
}
.miniDescripciones > .miniDescripciones-info {
  background-color: rgb(233, 233, 233);
  height: 150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 8px 25px -5px rgba(0, 0, 0, 0.07);
}
@media (min-width: 768px) {
  .miniDescripciones > .miniDescripciones-info {
    background-color: rgb(233, 233, 233);
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 8px 25px -5px rgba(0, 0, 0, 0.07);
  }
}

.modosCalistenia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  gap: 20px 0;
}
.modosCalistenia > .modos {
  width: 550px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
}
@media (max-width: 570px) {
  .modosCalistenia > .modos {
    width: 350px;
    height: 250px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
  }
}
.modosCalistenia > .modos > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease;
}
.modosCalistenia > .modos > img:hover {
  transform: scale(1.08);
}
.modosCalistenia > .modos > img:hover + h5 {
  display: block;
}
.modosCalistenia > .modos > h5 {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 45px;
  margin: 0 0 0 10px;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 0px 7px rgb(0, 0, 0);
}
.modosCalistenia > .modos > h4 {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: rgba(1, 1, 1, 0.4);
  color: #FFF;
}

.niveles {
  width: 90%;
  border-radius: 20px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 1600px) {
  .niveles {
    width: 60% !important;
  }
}
@media (min-width: 768px) {
  .niveles {
    width: 90%;
  }
}
.niveles > .nivel {
  background-color: rgb(241, 241, 241);
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row wrap;
}
.niveles > .nivel > .nivel-img {
  display: none;
}
@media (min-width: 768px) {
  .niveles > .nivel > .nivel-img {
    display: block;
    width: 50%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .niveles > .nivel > .nivel-img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.niveles > .nivel > .nivel-info {
  background-color: rgb(241, 241, 241);
  width: 100%;
  position: relative;
  border-radius: 20px;
  padding: 20px;
}
@media (min-width: 768px) {
  .niveles > .nivel > .nivel-info {
    background-color: rgb(241, 241, 241);
    width: 50%;
    position: relative;
    margin: auto 0;
    border-radius: 20px;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .niveles > .nivel > .nivel-info > h4 {
    margin-bottom: 20px;
    font-weight: bolder;
  }
}

.filtrosRutinas {
  margin: 50px auto 0;
  text-align: center;
  /* -- PARA FILTRAR LOS NIVELES -- */
}
.filtrosRutinas .principiantes,
.filtrosRutinas .intermedios,
.filtrosRutinas .avanzados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  gap: 20px 0;
}
@media (min-width: 768px) {
  .filtrosRutinas .principiantes,
.filtrosRutinas .intermedios,
.filtrosRutinas .avanzados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px 0;
  }
}
.filtrosRutinas .principiantes .principiante,
.filtrosRutinas .principiantes .intermedio,
.filtrosRutinas .principiantes .avanzado,
.filtrosRutinas .intermedios .principiante,
.filtrosRutinas .intermedios .intermedio,
.filtrosRutinas .intermedios .avanzado,
.filtrosRutinas .avanzados .principiante,
.filtrosRutinas .avanzados .intermedio,
.filtrosRutinas .avanzados .avanzado {
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
}
@media (min-width: 768px) {
  .filtrosRutinas .principiantes .principiante,
.filtrosRutinas .principiantes .intermedio,
.filtrosRutinas .principiantes .avanzado,
.filtrosRutinas .intermedios .principiante,
.filtrosRutinas .intermedios .intermedio,
.filtrosRutinas .intermedios .avanzado,
.filtrosRutinas .avanzados .principiante,
.filtrosRutinas .avanzados .intermedio,
.filtrosRutinas .avanzados .avanzado {
    width: 350px;
    height: 250px;
  }
}
.filtrosRutinas .principiantes .principiante > img,
.filtrosRutinas .principiantes .intermedio > img,
.filtrosRutinas .principiantes .avanzado > img,
.filtrosRutinas .intermedios .principiante > img,
.filtrosRutinas .intermedios .intermedio > img,
.filtrosRutinas .intermedios .avanzado > img,
.filtrosRutinas .avanzados .principiante > img,
.filtrosRutinas .avanzados .intermedio > img,
.filtrosRutinas .avanzados .avanzado > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.filtrosRutinas .principiantes .principiante > h6,
.filtrosRutinas .principiantes .intermedio > h6,
.filtrosRutinas .principiantes .avanzado > h6,
.filtrosRutinas .intermedios .principiante > h6,
.filtrosRutinas .intermedios .intermedio > h6,
.filtrosRutinas .intermedios .avanzado > h6,
.filtrosRutinas .avanzados .principiante > h6,
.filtrosRutinas .avanzados .intermedio > h6,
.filtrosRutinas .avanzados .avanzado > h6 {
  background-color: black;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 15px;
  padding: 5px 7px;
  border-radius: 8px;
}
.filtrosRutinas .principiantes .principiante > h5,
.filtrosRutinas .principiantes .intermedio > h5,
.filtrosRutinas .principiantes .avanzado > h5,
.filtrosRutinas .intermedios .principiante > h5,
.filtrosRutinas .intermedios .intermedio > h5,
.filtrosRutinas .intermedios .avanzado > h5,
.filtrosRutinas .avanzados .principiante > h5,
.filtrosRutinas .avanzados .intermedio > h5,
.filtrosRutinas .avanzados .avanzado > h5 {
  position: absolute;
  bottom: 45px;
  margin: -20px 0;
  text-align: center;
  padding: 15px;
  color: #FFF;
  text-shadow: 1px 0px 4px rgb(0, 0, 0);
  font-weight: bolder;
}
.filtrosRutinas .principiantes .principiante > h4,
.filtrosRutinas .principiantes .intermedio > h4,
.filtrosRutinas .principiantes .avanzado > h4,
.filtrosRutinas .intermedios .principiante > h4,
.filtrosRutinas .intermedios .intermedio > h4,
.filtrosRutinas .intermedios .avanzado > h4,
.filtrosRutinas .avanzados .principiante > h4,
.filtrosRutinas .avanzados .intermedio > h4,
.filtrosRutinas .avanzados .avanzado > h4 {
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  color: #FFF;
  text-shadow: 1px 0px 4px rgb(0, 0, 0);
  font-weight: bolder;
}
.filtrosRutinas #principiantes:checked ~ #contenedor-rutinas .intermedio, .filtrosRutinas #principiantes:checked ~ #contenedor-rutinas .avanzado {
  display: none;
}
.filtrosRutinas #intermedios:checked ~ #contenedor-rutinas .principiante, .filtrosRutinas #intermedios:checked ~ #contenedor-rutinas .avanzado {
  display: none;
}
.filtrosRutinas #avanzados:checked ~ #contenedor-rutinas .intermedio, .filtrosRutinas #avanzados:checked ~ #contenedor-rutinas .principiante {
  display: none;
}

.fotosPersonales {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
  gap: 20px;
}
@media (min-width: 768px) {
  .fotosPersonales {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: auto;
    gap: 20px;
  }
}
.fotosPersonales > .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .fotosPersonales > .container {
    margin: 10vmin;
    overflow: hidden;
    transform: skew(5deg);
    margin-top: 30px;
  }
}
.fotosPersonales > .container > .ctFotos {
  position: relative;
  margin: 10px;
}
@media (min-width: 768px) {
  .fotosPersonales > .container > .ctFotos {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 45vmin;
  }
  .fotosPersonales > .container > .ctFotos:hover {
    flex-grow: 10;
  }
  .fotosPersonales > .container > .ctFotos:hover .ctFotos__head {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    transform: rotate(0deg);
  }
  .fotosPersonales > .container > .ctFotos:not(:nth-child(8)) {
    margin-right: 1em;
  }
}
.fotosPersonales > .container > .ctFotos > .ctFotos__head {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.4);
  padding: 7px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media (min-width: 768px) {
  .fotosPersonales > .container > .ctFotos > .ctFotos__head {
    background: rgba(136, 136, 136, 0.75);
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
  }
}
.fotosPersonales > .container > .ctFotos > img {
  width: 275px;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .fotosPersonales > .container > .ctFotos > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
  }
  .fotosPersonales > .container > .ctFotos > img:hover {
    filter: grayscale(0);
  }
}

.contenedor-foto {
  width: 100%;
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contenedor-foto:hover .contenedor-foto-frente {
  transform: rotateY(-180deg);
}
.contenedor-foto:hover .contenedor-foto-dorso {
  transform: rotateY(0deg);
}
.contenedor-foto .contenedor-foto-frente {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #292929;
  position: relative;
  overflow: hidden;
}
.contenedor-foto .contenedor-foto-dorso {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-foto > * {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contenedor-foto .contenedor-foto-dorso {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: rotateY(180deg);
  background: #292929;
  background-image: url("..//img/trucoFotoDorso.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.contenedor-foto .cff-interior {
  width: 100%;
  text-align: center;
}
.contenedor-foto .cff-interior p {
  font-weight: 800;
  padding: 0 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contenedor-foto .cff-interior p {
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  .contenedor-foto .cff-interior p {
    font-size: 12px;
  }
}
@media (max-width: 570px) {
  .contenedor-foto .cff-interior p {
    font-size: 11px;
  }
}
.contenedor-foto .cff-interior h2 {
  font-weight: 800;
  padding: 0 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contenedor-foto .cff-interior h2 {
    font-size: 22px;
  }
}
@media (max-width: 620px) {
  .contenedor-foto .cff-interior h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  .contenedor-foto .cff-interior h2 {
    font-size: 18px;
  }
}
.contenedor-foto .cff-interior .btn-verMas {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 30px;
  margin-top: 14px;
}
.contenedor-foto .cff-interior .btn-verMas > a {
  color: #FFF;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 620px) {
  .contenedor-foto .cff-interior .btn-verMas > a {
    font-size: 10px;
  }
}
@media (max-width: 570px) {
  .contenedor-foto .cff-interior .btn-verMas > a {
    font-size: 10px;
  }
}

.formularioContacto {
  background-color: rgba(47, 47, 53, 0.5843137255);
  max-width: 800px;
  width: 100%;
  margin: 60px auto 20px auto;
  border-radius: 10px;
  color: white;
  padding: 30px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: "zona1 zona1" "zona2 zona3" "zona4 zona5" "zona6 zona6" "zona7 zona7" "zona8 zona9";
}
@media (max-width: 800px) {
  .formularioContacto {
    width: 90vw;
    margin: 20px auto;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: "zona1 zona1" "zona2 zona2" "zona3 zona3" "zona4 zona4" "zona5 zona5" "zona6 zona6" "zona7 zona7" "zona8 zona9";
  }
}
.formularioContacto h2:nth-child(1) {
  grid-area: zona1;
  justify-self: center;
  font-weight: 400;
}
.formularioContacto label:nth-child(2) {
  grid-area: zona2;
}
.formularioContacto label:nth-child(3) {
  grid-area: zona3;
}
.formularioContacto label:nth-child(4) {
  grid-area: zona4;
}
.formularioContacto label:nth-child(5) {
  grid-area: zona5;
}
.formularioContacto label:nth-child(6) {
  grid-area: zona6;
}
.formularioContacto label:nth-child(7) {
  grid-area: zona7;
}
.formularioContacto button:nth-child(8) {
  grid-area: zona8;
  height: 50px;
  width: 150px;
  background-color: rgb(44, 44, 51);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: white;
  margin-top: 20px;
  justify-self: center;
}
.formularioContacto button:nth-child(9) {
  grid-area: zona9;
  height: 50px;
  width: 150px;
  background-color: rgb(83, 83, 83);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: white;
  margin-top: 20px;
  justify-self: center;
}
.formularioContacto label {
  display: flex;
  flex-direction: column;
}
.formularioContacto label input, .formularioContacto label textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  margin-top: 10px;
  outline: none;
  color: white;
}

.container-fluid {
  font-family: "Quicksand", sans-serif !important;
}

.body-sinBS {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 1fr 50px;
  grid-template-areas: "header header header" "main   main   main" "footer footer footer";
}

.main-sinBS {
  grid-area: main;
}

.conocenos-background {
  height: 100vh;
  width: 100%;
  margin-top: -200px;
  background-image: url("..//img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: start;
  padding: 20px;
  color: #FFF;
}

.titulo {
  text-align: center;
  margin: 40px 0 10px 0;
}

.descripcion {
  background-color: rgb(255, 255, 255);
  width: 85%;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 0px 8px 25px -5px rgba(0, 0, 0, 0.07);
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.linea {
  width: 80%;
  margin: 20px;
  opacity: 0.5;
}

.contenido h3 {
  text-align: center;
}

.infoPersonal {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 30px auto;
}

.infoPersonal p {
  color: #3c3c3c;
}

.videoPersonal video {
  margin: 50px 0 10px 0;
  width: 70%;
  height: 70%;
}

@media (min-width: 768px) {
  .container-fluid {
    font-size: 16px !important;
  }
  .linea {
    width: 40%;
    margin: 20px;
    opacity: 0.5;
  }
}
@media (max-width: 570px) {
  .body-sinBS {
    font-size: 12px;
  }
  .titulo {
    font-size: 24px;
    margin: 30px 0 0 0;
  }
}/*# sourceMappingURL=style.css.map */