.encabezadoTrucos {
    background-image: url("..//img/trucos_BS.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center 80%;
    display: flex;
    justify-content: start;
    align-items: end;
    @media (min-width: 1600px) {
        height: 750px !important;
        background-position: 580%;
    }
    @media (min-width: 768px) {
        height: 600px;
    }
    @media (max-width: 570px) {
        height: 400px;
    }
}
.descripcionTrucos {
    background-color: rgb(205, 207, 211);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 8px 25px -5px rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    > h2 {
        @media (max-width: 570px) {
            font-size: 24px;
        }
    }
    > p {
        width: 97%;
        font-size: 14px;
        @media (min-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 570px) {
            font-size: 12px;
        }
    }
}